html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  background-color: #3779a4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #6ba4c9;
}

.content {
  margin: 20px;
}

#discount {
  color: #3779a4;
  font-weight: bold;
  text-decoration: none;
}

.membership-button {
  background-color: white;
  color: orange;
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  border-radius: 15px;
}

.social-media-button {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 20px;
  color: white;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  margin-right: 10px;
}

button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.testimonials {
  width: 100%;
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.quote-container {
  display: flex;
  overflow-x: scroll;
}

.quote {
  max-height: 50px;
  width: 150px;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 15px;
  margin-right: 10px;
}

footer {
  background-color: #3779a4;
  color: white;
  line-height: 0.5;
  padding: 20px;
}

.footer-heading {
  padding-bottom: 10px;
  font-size: 18px;
}

.footer-list {
  margin-left: 20px;
}

.footer-text {
  font-weight: bold;
}

h1 {
  color: #3779a4;
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
